.DS_Store

# The traces of the hddmrl models
src/python/PRL/01_get_hddmrl_params/models/*

# All files used to generate the pdf report
reports/Supplementary_materials_cache/*
reports/Supplementary_materials_files/*

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Visual Studio / VSCode
.vs/
.vscode/*
.mypy_cache

.Rproj.user
